body
{
    color:blue;
    background-color:black;
}
.heading 
{
width:80%;
font-size:30px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color:red;
}
#camera,#result
{
    border:2px solid white;
    width:400px;
    height:400px;
}